.hamburger {
    width: 80px;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #484848;
    position: absolute;
}

.hamburger-icon::before, .hamburger-icon::after {
    content: "";
    display: block;
}

.hamburger-icon::before {
    top: -7px;
}

.hamburger-icon::after {
    bottom: -7px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
}

.div-login {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    background: var(--primary-red);
    padding: 0 1em;
}

.logo svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.login {
    background: none;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73px;
    padding: 4px;
}

.login-icon {
    width: 12px;
    height: 14px;
}

.login-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}

.humburger-btn {
    padding: 0.938em;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
}

.humburger-btn {
    background: none;
    width: 100%;
    height: 100%;
}

.side-nav {
    position: relative;
    z-index: 1;
}

.background-nav {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background: #000;
}

.side-nav-container {
    width: 300px;
    height: 100vh;
    background: var(--darker-white);
    transform: translateX(100%);
    transition: transform 300ms;
    transition-timing-function: ease-in;
    position: absolute;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
}

.side-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    overflow: scroll;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.side-nav-link {
    font-size: 0.875rem;
    color: var(--darker-grey);
    width: 100%;
    margin: .5em 0;
    padding-left: .5em;
    position: relative;
    z-index: 5;
    max-height: 45px;
}

.side-nav-link a {
    text-decoration: none;
    display: flex;
}

.side-nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    line-height: 16px;
    height: 45px;
    color: var(--darker-grey);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.side-nav-icon {
    height: 20px;
    width: 20px;
    margin-right: .5em;
    fill: var(--darker-grey);
    flex-grow: 1;
}

.side-nav-link hr {
    background: #dadada;
    width: 75%;
    margin: 30px auto;
    height: 1px;
    border: none;
    border-top: 1px solid #dadada;
}

.bandeira {
    background: url("../img/us-flag.svg");
    height: 12px;
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5em;
}

.nav-expandido-btn {
    position: absolute;
    right: 0;
    margin-right: 2em;
}

.fa-angle-down {
    font-size: 1.125rem;
    transform: rotate(0deg);
    transition: transform 200ms;
    transition-timing-function: linear;
}

.side-nav-expandido-games,
.side-nav-expandido-hardware {
    opacity: 0;
    transition: opacity 50ms;
    transition-timing-function: linear;
}

.side-nav-expandido-games .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.side-nav-expandido-games .link {
    width: 120px;
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link svg {
    background: #fff;
    height: 68px;
    width: 100%;
    border: 1px solid #dadada;
    padding: .75em .5em;
    margin-bottom: .5em;
    border-radius: 5px;
    fill: #484848;
}

.link span {
    font-family: "museo-sans", "Lato", sans-serif !important;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: #484848;
}

.side-nav-expandido-games .container {
    display: none;
}

.side-nav-expandido-hardware .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    margin: .5em;
}

.side-nav-expandido-hardware .large {
    width: calc(240px + 1rem)
}

.navExpandidoHardware .link-large {
    width: 240px;
}

.link img {
    background: #fff;
    border-radius: 5px;
    margin-bottom: .5em;
    height: 68px;
    padding: .75em .5em;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    fill: #484848;
    border: 1px solid #DADADA;
}

.side-nav-expandido-hardware .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.is-active {transform: translateX(0%); transition: transform 300ms; transition-timing-function: ease-out;}
.bg-active {opacity: 0.8;}
.open-icon {transform: rotate(180deg);transition: transform 200ms;transition-timing-function: linear;}
.showNav {opacity: 1;transition: opacity 500ms;transition-timing-function: linear;}
.showNavExpandidoGames, .showNavExpandidoHardware {max-height: 100vh;transition: .3s;}