.hamburger {
    width: 80px;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #484848;
    position: absolute;
    z-index: 2;
}

.hamburger-icon::before, .hamburger-icon::after {
    content: "";
    display: block;
}

.hamburger-icon::before {
    top: -7px;
}

.hamburger-icon::after {
    bottom: -7px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
}

.div-login {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    background: var(--primary-red);
    padding: 0 1em;
}

.logo svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.login {
    background: none;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73px;
    padding: 4px;
}

.login-icon {
    width: 12px;
    height: 14px;
}

.login-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}

.hamburger-btn {
    padding: 0.938em;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
}

.hamburger-btn {
    background: none;
    width: 100%;
    height: 100%;
}

/*--------- SEARCH BAR ---------*/
.search-dialog {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: #fff;
    transform: translateY(-150%);
    transition: transform 300ms;
    transition-timing-function: ease-in;
}

.search-input {
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    opacity: 0;
    transition: opacity 400ms;
}

.search-input .logo {
    display: none;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.input-field {
    flex: 1;
    margin-left: 1.75em;
    display: flex;
    align-items: center;
    position: relative;
}

.input-field::after {
    content: '';
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #E60012;
    width: 100%;
    bottom: .7em;
}

.input-field input {
    flex: 1;
    height: 55px;
    font-size: 0.875rem;
    color: #484848;
    border: none;
    outline: none;
}


.input-field i {
    margin-right: .5em;
    font-size: 1.125rem;
    color: #E60012;
}

.close-search {
    background: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 1em 1em 1.25em 1em;
    padding: 0px;
}

.close-search svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    fill: #727272;
}

.search-suggestions {
    padding: 0 0.875em;
    overflow: scroll;
    height: 80vh;
    opacity: 0;
    transition: opacity 400ms;
}

.links-rapidos {
    padding: 0.875em 1.75em;
}

.suggestions ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 8em;
    margin: 1rem 0;
    line-height: 1.85;
    color: #E60012;
    font-weight: 700;
    font-size: 0.875rem;
}

.suggestions li a{
    text-decoration: none;
    color: inherit;
}

.games-tiles {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 146px;
    width: calc((100% - 1.25em) / 2);
    background: currentColor;
    padding: 1.8em 0;
    border-radius: 5px;
    border: 1px solid #dadada;
    text-decoration: none;
}

.tile-title {
    display: flex;
    justify-content: center;
    padding: 1.8em 0;
    width: 100%;
    position: relative;
    background: #fff;
}

.tile:nth-child(1) {
    margin-right: 1.25em;
    color: #FED400;
}

.tile:nth-child(2) {
    color: #00B0EC;
}

.tile:nth-of-type(3) {
    width: 100%;
    margin-top: 1.25em;
    color: #E60012;
}

.tile-icon svg {
    background: #fff;
    border-radius: 100%;
    padding: 8px 0;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile-title p {
    color: #484848;
    font-size: 1em;
    text-decoration: none;
    font-weight: 700;
}

/*--------- NAVEGAÇÃO LATERAL ---------*/
.side-nav {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.background-nav, 
.background-search {
    z-index: -1;
    width: 0%;
    height: 0vh;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background: #000;
    position: fixed;
}

.background-search {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
}

.side-nav-container {
    width: 300px;
    height: 100vh;
    background: var(--darker-white);
    transform: translateX(100%);
    transition: transform 300ms;
    transition-timing-function: ease-in;
    position: absolute;
    right: 0;
    z-index: 1;
    overflow-x: hidden;
}

.side-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    overflow: scroll;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.side-nav-link {
    font-size: 0.875rem;
    color: var(--darker-grey);
    width: 100%;
    margin: .5em 0;
    padding-left: .5em;
    position: relative;
    max-height: 45px;
}

.side-nav-link a {
    text-decoration: none;
    display: flex;
}

.side-nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    line-height: 16px;
    height: 45px;
    color: var(--darker-grey);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.side-nav-icon {
    height: 20px;
    width: 20px;
    margin-right: .5em;
    fill: var(--darker-grey);
    flex-grow: 1;
}

.side-nav-link hr {
    background: #dadada;
    width: 75%;
    margin: 30px auto;
    height: 1px;
    border: none;
    border-top: 1px solid #dadada;
}

.bandeira {
    background: url("../img/us-flag.svg");
    height: 12px;
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5em;
}

.nav-expandido-btn {
    position: absolute;
    right: 0;
    margin-right: 2em;
}

.fa-angle-down {
    font-size: 1.125rem;
    transform: rotate(0deg);
    transition: transform 200ms;
    transition-timing-function: linear;
}

.side-nav-expandido-games,
.side-nav-expandido-hardware {
    opacity: 0;
    transition: opacity 500ms;
    transition-timing-function: linear;
}

.side-nav-expandido-games .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.side-nav-expandido-games .link {
    width: 120px;
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link svg {
    background: #fff;
    height: 68px;
    width: 100%;
    border: 1px solid #dadada;
    padding: .75em .5em;
    margin-bottom: .5em;
    border-radius: 5px;
    fill: #484848;
}

.link span {
    font-family: "museo-sans", "Lato", sans-serif !important;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: #484848;
}

.side-nav-expandido-games .container {
    display: none;
}

.side-nav-expandido-hardware .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    margin: .5em;
}

.side-nav-expandido-hardware .large {
    width: calc(240px + 1rem)
}

.navExpandidoHardware .link-large {
    width: 240px;
}

.link img {
    background: #fff;
    border-radius: 5px;
    margin-bottom: .5em;
    height: 68px;
    padding: .75em .5em;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    fill: #484848;
    border: 1px solid #DADADA;
}

.side-nav-expandido-hardware .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.is-active {transform: translateX(0%); transition: transform 300ms; transition-timing-function: ease-out;}
.opacity {opacity: 0.8;}
.open {transform: rotate(180deg);transition: transform 200ms;transition-timing-function: linear;}
.show {opacity: 1;transition: opacity 500ms;transition-timing-function: linear;}
.height-transition {max-height: 100vh;transition: .3s;}
.active {transform: translateY(0%);transition: transform 300ms;transition-timing-function: ease-out;}
.show-search {opacity: 1;transition: opacity 400ms;transition-timing-function: linear;transition-delay: 300ms;}