:root {
    --bottom-nav-bg: #f3f4f4;
    --bg: #fff;
    --darker-white: #efefef;
    --primary-red: #e60012;
    --grey: #434242;
    --darker-grey: #484848;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

@import url("header.css");